
@media (max-width: 1230px){
	.container__header{
		margin: 0 20px;
	}
	.section3{
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media (max-width: 901px){

}




@media (max-width: 901px){
	.container__header{
		margin: 0 20px;
	}

	.section2{
		padding-top: 0px;
	}

	.section2 article{
		margin: auto;
		position: inherit;
	}
	.container__section1{
		margin: 0 20px;
		flex-direction: column;
		align-items: center;
	}
	
	.section1{
		padding: 0 15px;
	}
	
	}
	footer{
		padding-left: 15px;
		padding-right: 15px;
	}


	.container__section2 article{
		margin-bottom: 50px;
		
	}

	.title__howit{
		margin-bottom: 50px;
	}


	.section4{
		padding-top: 30px;
	}
	.container__section5{
		padding-bottom: 15px;
	}




@media (max-width: 1078px){
	.container__flex{
		flex-wrap: wrap;
		max-width: 410px;
		align-items: center;
		margin: auto;
		margin-bottom: 50px;
	}
	
	.container__flex article{
		margin-bottom: 20px;
	}
}

@media (max-width: 1156px){
	.qwe{
		flex-direction: column;
		
	}
	.qwe li{
		margin: auto;
		margin-bottom: 30px;
	}
}

@media (max-width: 1018px){
	.container__section2{
		flex-direction: column;
		align-items: center;
	}
	.title__howit{
		margin-bottom: 50px;
	}
}

@media (max-width: 519px){
	
	
	.link__list{
		max-width: 200px;
	}
	.list{
		margin-left: 15px;
		margin-right: 15px;
	}

	.section1 .title__article1{
		text-align: center;
	}
	
	.p__empathy{
		text-align: center;
	}

	.p__we{
		text-align: center;
	}

	.section5{
		padding-bottom: 50px;
	}

	.container__section5{
		margin-left: 15px;
		margin-right: 15px;
	}

	.nav-but-wrap{ 
		position: relative;
		display: inline-block;
		float: right;
		padding-left: 15px;
		padding-top: 9px;
		transition : all 0.3s ease-out;
		z-index: 100;
	}

	.nav {
		position: fixed;
		z-index: 98;
	}
	.nav:before, .nav:after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		border-bottom-left-radius: 200%;
		z-index: -1;
		-webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		-webkit-transform: translateX(100%) translateY(-100%);
		transform: translateX(100%) translateY(-100%);
	}
	.nav:after {
		background-color: orange;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	.nav:before {
		-webkit-transition-delay: .2s;
				 transition-delay: .2s;
	}
	.nav__content {
		position: fixed;
		left: 0;
		visibility: hidden;
		top: 50%;
		margin-top: 20px;
		-webkit-transform: translate(0%, -50%);
		 transform: translate(0%, -50%);
		width: 100%;
		text-align: center;
	}
	.nav__list {
		position: relative;
		padding: 0;
		margin: 0;
		z-index: 2;
	}
	.nav__list-item {
		position: relative;
		display: block;
		-webkit-transition-delay: 0.8s;
				 transition-delay: 0.8s;
		opacity: 0;
		text-align: center;
		color: #fff;
		overflow: hidden; 
		font-family: 'Montserrat', sans-serif;
		font-size: 8vh;
		font-weight: 900;
		line-height: 1.15;
		letter-spacing: 3px;
		-webkit-transform: translate(100px, 0%);
				 transform: translate(100px, 0%);
		-webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
		transition: opacity .2s ease, -webkit-transform .3s ease;
		transition: opacity .2s ease, transform .3s ease;
		transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
		margin-top: 0;
		margin-bottom: 0;
	}
	.nav__list-item a{ 
		position: relative;
		text-decoration: none;
		color: black;
		overflow: hidden; 
		cursor: pointer;
		padding-left: 5px;
		padding-right: 5px;
		font-weight: 900;
		z-index: 2;
		display: inline-block;
		text-transform: uppercase;
		 -webkit-transition: all 200ms linear;
		 transition: all 200ms linear; 
	}
	.nav__list-item a:after{ 
		position: absolute;
		content: '';
		top: 50%;
		margin-top: -2px;
		left: 50%;
		width: 0;
		height: 0;
		opacity: 0;
		background-color: #8167a9;
		z-index: 1;
		 -webkit-transition: all 200ms linear;
		 transition: all 200ms linear; 
	}
	.nav__list-item a:hover:after{ 
		height: 4px;
		opacity: 1;
		left: 0;
		width: 100%;
	}
	.nav__list-item a:hover{
		color: rgba(255,255,255,1);
	}
	.nav__list-item.active-nav a{
		color: rgba(255,255,255,1);
	}
	.nav__list-item.active-nav a:after{ 
		height: 4px;
		opacity: 1;
		left: 0;
		width: 100%;
	}
}

@media (max-width: 736px){

	

	.lists{
		flex-direction: column;
		align-items: center;
		
	}

	.nav-but-wrap{ 
		position: relative;
		display: inline-block;
		float: right;
		padding-left: 15px;
		padding-top: 9px;
		transition : all 0.3s ease-out;
		z-index: 100;
	}

	.nav {
		position: fixed;
		z-index: 98;
	}
	.nav:before, .nav:after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		border-bottom-left-radius: 200%;
		z-index: -1;
		-webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		-webkit-transform: translateX(100%) translateY(-100%);
		transform: translateX(100%) translateY(-100%);
	}
	.nav:after {
		background-color: orange;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	.nav:before {
		-webkit-transition-delay: .2s;
				 transition-delay: .2s;
	}
	.nav__content {
		position: fixed;
		left: 0;
		visibility: hidden;
		top: 50%;
		margin-top: 20px;
		-webkit-transform: translate(0%, -50%);
		 transform: translate(0%, -50%);
		width: 100%;
		text-align: center;
	}
	.nav__list {
		position: relative;
		padding: 0;
		margin: 0;
		z-index: 2;
	}
	.nav__list-item {
		position: relative;
		display: block;
		-webkit-transition-delay: 0.8s;
				 transition-delay: 0.8s;
		opacity: 0;
		text-align: center;
		color: #fff;
		overflow: hidden; 
		font-family: 'Montserrat', sans-serif;
		font-size: 8vh;
		font-weight: 900;
		line-height: 1.15;
		letter-spacing: 3px;
		-webkit-transform: translate(100px, 0%);
				 transform: translate(100px, 0%);
		-webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
		transition: opacity .2s ease, -webkit-transform .3s ease;
		transition: opacity .2s ease, transform .3s ease;
		transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
		margin-top: 0;
		margin-bottom: 0;
	}
	.nav__list-item a{ 
		position: relative;
		text-decoration: none;
		color: black;
		overflow: hidden; 
		cursor: pointer;
		padding-left: 5px;
		padding-right: 5px;
		font-weight: 900;
		z-index: 2;
		display: inline-block;
		text-transform: uppercase;
		 -webkit-transition: all 200ms linear;
		 transition: all 200ms linear; 
	}
	.nav__list-item a:after{ 
		position: absolute;
		content: '';
		top: 50%;
		margin-top: -2px;
		left: 50%;
		width: 0;
		height: 0;
		opacity: 0;
		background-color: #8167a9;
		z-index: 1;
		 -webkit-transition: all 200ms linear;
		 transition: all 200ms linear; 
	}
	.nav__list-item a:hover:after{ 
		height: 4px;
		opacity: 1;
		left: 0;
		width: 100%;
	}
	.nav__list-item a:hover{
		color: rgba(255,255,255,1);
	}
	.nav__list-item.active-nav a{
		color: rgba(255,255,255,1);
	}
	.nav__list-item.active-nav a:after{ 
		height: 4px;
		opacity: 1;
		left: 0;
		width: 100%;
	}

	.company__list{
		margin-bottom: 30px;
	}

	.subscribe{
		flex-direction: column;
		justify-content: inherit;
		justify-content: center;
		align-items: center;
	}

	.subscribe li{
		margin-bottom: 30px
	};

	.flex_containerlist{
		justify-content: space-around;
	}
}

@media (max-width: 854px){
	.section3{
		padding-bottom: 0;
	}

	header nav ul{
		display: block;
	}

	.container__section3{
		flex-direction: column;
		justify-content: inherit;
		margin-bottom: 50px;
	}

	.last__container{
		margin-bottom: inherit;
	}

	.order1{
		order:2;
	}
	.order2{
		order:1;
	}

	.container__section3 article{
		margin-bottom: 30px;
		text-align: center;
	}
	.title__section3{
		text-align: center;
	}

	.p__section3{
		text-align: center;
	}

	.nav-but-wrap{ 
		position: relative;
		display: inline-block;
		float: right;
		padding-left: 15px;
		padding-top: 9px;
		transition : all 0.3s ease-out;
		z-index: 100;
	}

	.nav {
		position: fixed;
		z-index: 98;
	}
	.nav:before, .nav:after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		border-bottom-left-radius: 200%;
		z-index: -1;
		-webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		-webkit-transform: translateX(100%) translateY(-100%);
		transform: translateX(100%) translateY(-100%);
	}
	.nav:after {
		background-color: orange;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	.nav:before {
		-webkit-transition-delay: .2s;
				 transition-delay: .2s;
	}
	.nav__content {
		position: fixed;
		left: 0;
		visibility: hidden;
		top: 50%;
		margin-top: 20px;
		-webkit-transform: translate(0%, -50%);
		 transform: translate(0%, -50%);
		width: 100%;
		text-align: center;
	}
	.nav__list {
		position: relative;
		padding: 0;
		margin: 0;
		z-index: 2;
	}
	.nav__list-item {
		position: relative;
		display: block;
		-webkit-transition-delay: 0.8s;
				 transition-delay: 0.8s;
		opacity: 0;
		text-align: center;
		color: #fff;
		overflow: hidden; 
		font-family: 'Montserrat', sans-serif;
		font-size: 8vh;
		font-weight: 900;
		line-height: 1.15;
		letter-spacing: 3px;
		-webkit-transform: translate(100px, 0%);
				 transform: translate(100px, 0%);
		-webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
		transition: opacity .2s ease, -webkit-transform .3s ease;
		transition: opacity .2s ease, transform .3s ease;
		transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
		margin-top: 0;
		margin-bottom: 0;
	}
	.nav__list-item a{ 
		position: relative;
		text-decoration: none;
		color: black;
		overflow: hidden; 
		cursor: pointer;
		padding-left: 5px;
		padding-right: 5px;
		font-weight: 900;
		z-index: 2;
		display: inline-block;
		text-transform: uppercase;
		 -webkit-transition: all 200ms linear;
		 transition: all 200ms linear; 
	}
	.nav__list-item a:after{ 
		position: absolute;
		content: '';
		top: 50%;
		margin-top: -2px;
		left: 50%;
		width: 0;
		height: 0;
		opacity: 0;
		color: black;
		z-index: 1;
		 -webkit-transition: all 200ms linear;
		 transition: all 200ms linear; 
	}
	.nav__list-item a:hover:after{ 
		height: 4px;
		opacity: 1;
		left: 0;
		width: 100%;
	}
	.nav__list-item a:hover{
		color: rgba(255,255,255,1);
	}
	.nav__list-item.active-nav a{
		color: rgba(255,255,255,1);
	}
	.nav__list-item.active-nav a:after{ 
		height: 4px;
		opacity: 1;
		left: 0;
		width: 100%;
	}
}


